@font-face {
  font-family: 'Source Sans';
  src:
    url('../fonts/SourceSans3VF-Upright.otf.woff2') format('woff2 supports variations'),
    url('../fonts/SourceSans3VF-Upright.otf.woff2') format('woff2-variations');
  font-weight: 200 900;
  font-display: fallback;
  font-style: normal;
}

@font-face {
  font-family: 'Source Sans';
  src:
    url('../fonts/SourceSans3VF-Italic.otf.woff2') format('woff2 supports variations'),
    url('../fonts/SourceSans3VF-Italic.otf.woff2') format('woff2-variations');
  font-weight: 200 900;
  font-display: fallback;
  font-style: italic;
}

@media screen and (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

body {
  background: var(--color-background);
  color: var(--color-content-regular);
  font-family: var(--font-family-regular);
  font-size: var(--step-0);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-regular);
  margin: 0;
  /* Makes elements that use different fonts (e.g. <code> -> uses monospace) look more in proportion to the base font". More info: https://developer.mozilla.org/en-US/docs/Web/CSS/font-size-adjust */
  font-size-adjust: from-font;
}

.page-wrapper {
  width: 100%;
  max-width: var(--page-max-width);
  padding-inline: var(--page-gutter);
  margin-inline: auto;
}

.content-wrapper {
  width: 100%;
  max-width: 74ch;
  padding-inline: var(--page-gutter);
  margin-inline: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-content-loud);
  line-height: var(--line-height-tight);
  text-wrap: balance;
}

h1 {
  font-size: var(--step-3);
}

h2 {
  font-size: var(--step-2);
}

h3,
h4,
h5,
h6 {
  font-size: var(--step-1);
}

small {
  font-size: var(--step--1);
}

ins {
  text-decoration: none;
  background: var(--color-accent);
  color: var(--color-content-inverted);
  padding-inline: var(--space-3xs);
}

/* 
  code → Inline code snippets (e.g. variable names, short code examples)
  kbd → User input via keyboard (e.g. Cmd + C)
  samp → Sample output from a program or system (e.g. Press F1 to continue)
*/
code,
kbd,
samp {
  font-family: var(--font-family-mono);
  padding: 0.1em 0.25em;
  hyphens: none;
  tab-size: 2;
  text-align: left;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  /* Ensures presentational styles (e.g. padding and border-radius) carry over when element breaks on to multiple lines */
  box-decoration-break: clone;
  background: var(--color-background-transparent);
  border-radius: var(--border-radius-small);
  corner-shape: squircle;
}

pre {
  border-radius: var(--border-radius-regular);
  padding: var(--space-xs) var(--space-m);
}

pre code {
  border: none;
  background: none;
  padding: 0;
}

kbd {
  border: var(--border-regular);
}

q {
  font-style: italic;
}

/* Targets lists without a class, as these probably feature custom styling */
:is(ol, ul):not([class]) {
  /* Left-aligns list items with other content */
  padding-inline-start: 1em;
}


/* Ensures the same marker at every nesting level */
ul:not([class]) {
  list-style-type: disc;
}

/* Gives numbers a heavier font-weight */
ol ::marker {
  font-weight: var(--font-weight-bold);
}

dt {
  font-weight: var(--font-weight-bold);
  color: var(--color-content-loud);
}

*+dt {
  margin-block-start: var(--space-2xs);
}

blockquote:not([class]) {
  padding: var(--space-2xs) var(--space-s);
  border-left: var(--border-size-thick) var(--border-type) var(--color-accent);
}

blockquote p,
q {
  color: var(--color-content-loud);
  font-style: italic;
}

blockquote footer {
  margin-block-start: var(--space-2xs);
}

video,
iframe[src*='youtube'] {
  width: 100%;
  height: auto;
  aspect-ratio: 16/9;
}

figcaption {
  color: var(--color-content-quiet);
  font-size: var(--step--1);
  font-style: italic;
  margin-block-start: var(--space-2xs);
}

img.default {
  border: var(--border-quiet);
  border-radius: var(--border-radius-regular);
}

img.wrapper {
  display: grid;
  place-content: center;
  padding-block: var(--space-m);
  padding-inline: var(--space-l);
  background-color: var(--color-background-loud);
  border-radius: var(--border-radius-regular);
}

table {
  border-collapse: collapse;
  width: 100%;
}

thead,
th[scope="row"] {
  background: var(--color-background-loud);
}

th[scope="row"] {
  border-inline-end: 1px solid var(--color-border-quiet);
}

tr {
  border-bottom: 1px solid var(--color-border-quiet);
}

th {
  text-align: left;
  font-weight: var(--font-weight-semibold);
}

th,
td {
  padding: var(--space-3xs) var(--space-xs);
}

caption {
  text-align: left;
  font-size: var(--step--1);
  font-weight: var(--font-weight-bold);
  color: var(--color-content-quiet);
  margin-block-end: var(--space-2xs);
}

a {
  color: currentColor;
  text-underline-offset: 0.4ex;
  text-decoration-thickness: 0.1ex;
  text-decoration-color: var(--color-accent);
  transition: color, text-underline-offset var(--motion-exit-small);

  &:hover {
    color: var(--color-accent);
    text-underline-offset: 0.5ex;
    transition: color, text-underline-offset var(--motion-enter-small)
  }
}

hr {
  border: none;
  border-block-start: var(--border-quiet);
  margin-block: var(--flow-space);
}

svg {
  flex-shrink: 0;
}

input,
select,
textarea {
  accent-color: var(--color-accent);
}

:focus-visible {
  outline: var(--focusring);
  outline-offset: var(--offset-focusring);
}

form {
  display: flex;
  flex-direction: column;
  gap: var(--space-s);
}

:is(input:not([type='checkbox'], [type='radio'], [type='color']), select, textarea) {
  padding: var(--space-2xs) var(--space-xs);
  border-radius: var(--border-radius-small);
  border: var(--border-regular);
  background: var(--color-background-loud);
  color: var(--color-content-loud);
  width: 100%;

  &::placeholder {
    color: var(--color-content-quiet);
  }
}

label {
  font-weight: var(--font-weight-semibold);
}

label:has(input) {
  display: flex;
  align-items: baseline;
  gap: var(--space-2xs);
  font-weight: var(--font-weight-regular);
  cursor: pointer;
}

label:has(input) input {
  transform: translateY(0.2ex);
}

input:disabled,
input[readonly] {
  border: none;
}

input:disabled,
label input:disabled+* {
  cursor: not-allowed;
}

fieldset {
  display: flex;
  flex-direction: column;
  gap: var(--space-3xs);
  padding: var(--space-2xs) var(--space-xs);
  border-radius: var(--border-radius-regular);
}

legend {
  font-weight: var(--font-weight-semibold);
  padding-inline: var(--space-3xs);
}

summary {
  font-weight: var(--font-weight-semibold);
  cursor: pointer;
}

details[open] summary {
  margin-block-end: var(--space-2xs);
}

/* Source: https://robbowen.digital/wrote-about/locking-scroll-with-has/ */
body:has(.scroll-lock[aria-expanded="true"]) {
  overflow: hidden;
}

/* Source: https://www.joshwcomeau.com/react/prefers-reduced-motion/ */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

::selection {
  color: var(--color-background);
  background-color: var(--color-accent);
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 1lh;
}

@view-transition {
  navigation: auto;
}