---
import Paragraph from "../components/Paragraph.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import PageHeader from "../components/PageHeader.astro";
import TextContainer from "../layouts/TextContainer.astro";
---

<BaseLayout>
  <PageHeader heading="About me">Get to know me a bit better</PageHeader>
  <TextContainer>
    <Paragraph>
      I’ve been working as a designer for over ten years. I love to design and
      help build accessible, human-centered products.
    </Paragraph>
    <Paragraph>
      For the past four years, I've mainly worked on design systems. Before
      that, I worked on consumer and enterprise apps for desktop, web and
      mobile. My key skills are user-centered design, front-end development, and
      design systems.
    </Paragraph>
    <Paragraph>
      I’ve worked for UX research agencies and SaaS companies. I’m now at
      <a href="https://www.pleo.io/">Pleo</a>, where I'm part of the Design
      Systems Team.
    </Paragraph>
  </TextContainer>
</BaseLayout>
