---
import Button from "../components/Button.astro";
import Heading from "../components/Heading.astro";
import PageHeader from "../components/PageHeader.astro";
import Paragraph from "../components/Paragraph.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <PageHeader heading="Contact">Find out how to get in touch</PageHeader>
  <div class="wrapper-contact">
    <section>
      <Heading as="h2">Email</Heading>
      <Paragraph color="subtle">sandberg.hans@gmail.com</Paragraph>
      <Button icon="copy" id="copy-button">Copy email address</Button>
      <Button icon="compose" as="a" href="mailto:sandberg.hans@gmail.com">
        Compose email
      </Button>
    </section>
    <section>
      <Heading as="h2">LinkedIn</Heading>
      <Paragraph color="subtle">@hans-sandberg</Paragraph>
      <Button
        icon="linkedin"
        as="a"
        href="https://www.linkedin.com/in/hans-sandberg/"
      >
        Visit LinkedIn profile
      </Button>
    </section>
  </div>

  <style>
    .wrapper-contact {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(min(16rem, 100%), 1fr));
      gap: var(--space-l);
    }

    section {
      display: flex;
      flex-direction: column;
      gap: var(--space-s);
    }
  </style>

  <script>
    function copyEmailToClipboard() {
      navigator.clipboard.writeText("sandberg.hans@gmail.com").then(
        () => {
          /* clipboard successfully set */
        },
        () => {
          /* clipboard write failed */
        },
      );
    }

    const copyButton: HTMLButtonElement | null =
      document.querySelector("#copy-button");
    copyButton?.addEventListener("click", copyEmailToClipboard);
  </script>
</BaseLayout>
