---
import Button from "../components/Button.astro";
import CopyButton from "../components/CopyButton.astro";
import Heading from "../components/Heading.astro";
import PageHeader from "../components/PageHeader.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
const title = "Contact";
---

<BaseLayout pageTitle={title}>
  <div class="grid">
    <PageHeader heading={title}>Find out how to get in touch</PageHeader>
    <div class="wrapper-contact">
      <section>
        <Heading as="h2">Email</Heading>
        <CopyButton successMessage="Email address copied to clipboard">
          Copy email address
        </CopyButton>
        <Button icon="compose" as="a" href="mailto:sandberg.hans@gmail.com">
          Compose email
        </Button>
      </section>
      <section>
        <Heading as="h2">LinkedIn</Heading>
        <Button
          icon="link"
          as="a"
          href="https://www.linkedin.com/in/hans-sandberg/"
        >
          Visit LinkedIn profile
        </Button>
      </section>
    </div>
  </div>
</BaseLayout>

<style>
  .wrapper-contact {
    display: flex;
    flex-direction: column;
    gap: var(--space-xl);
  }

  section {
    display: flex;
    flex-direction: column;
    gap: var(--space-s);
  }
</style>
