---
import Button from "../components/Button.astro";
import Heading from "../components/Heading.astro";
import PageHeader from "../components/PageHeader.astro";
import Paragraph from "../components/Paragraph.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <PageHeader title="Contact">Find out how to get in touch</PageHeader>
  <div class="wrapper">
    <section>
      <Heading level="2">Email</Heading>
      <Paragraph color="subtle">sandberg.hans@gmail.com</Paragraph>
      <Button icon="copy">Copy email address</Button>
      <Button icon="compose">Compose email</Button>
    </section>
    <section>
      <Heading level="2">LinkedIn</Heading>
      <Paragraph color="subtle">@hans-sandberg</Paragraph>
      <Button icon="linkedin">Visit LinkedIn profile</Button>
    </section>
  </div>
</BaseLayout>

<style>
  .wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(16rem, 100%), 1fr));
    gap: var(--space-l);
  }

  section {
    display: flex;
    flex-direction: column;
    gap: var(--space-s);
  }
</style>
