---
import Heading from "../components/Heading.astro";
import PageHeader from "../components/PageHeader.astro";
import Paragraph from "../components/Paragraph.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <PageHeader title="About me">Find out how to get in touch</PageHeader>
  <Heading level="2">Email</Heading>
  <Paragraph>sandberg.hans@gmail.com</Paragraph>
  <button>Copy email address</button>
  <a href="mailto:sandberg.hans@gmail.com">Compose email</a>
  <Heading level="2">LinkedIn</Heading>
  <Paragraph>@hans-sandberg</Paragraph>
  <a href="mailto:sandberg.hans@gmail.com">Visit LinkedIn profile</a>
</BaseLayout>
