---
import Heading from "../components/Heading.astro";
import Paragraph from "../components/Paragraph.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import ExperienceItem from "../components/ExperienceItem.astro";
---

<BaseLayout>
  <Heading level="1" id="experience">Experience</Heading>
  <ExperienceItem
    title="Senior DesignOps Designer"
    org="Pleo"
    orgLink="https://www.pleo.io"
    location="Copenhagen, Denmark"
    dateRange="Jun 2022 – Present"
    duration="1 year, 6 months"
  >
    <ul>
      <li>Design system stuff</li>
      <li>DesignOps stuff</li>
      <li>Other stuff</li>
    </ul>
  </ExperienceItem>
  <ExperienceItem
    title="Senior UX Designer"
    org="Siteimprove"
    orgLink="https://www.siteimprove.com"
    location="Copenhagen, Denmark"
    dateRange="Dec 2017 – Jun 2022"
    duration="4 years, 7 months"
  >
    <ul>
      <li>
        Helped build a design system for an R&D department with 100+ members.
        Designed and helped code accessible UI components, wrote UX guidelines
        and created a UI kit in Figma.
      </li>
      <li>
        Designed various features for a data-heavy enterprise web application,
        such as a dashboard, account settings and recurring reports.
      </li>
      <li>
        Worked with developers, product owners, UX designers, UX writers, and
        accessibility experts.
      </li>
    </ul>
  </ExperienceItem>
  <ExperienceItem
    title="UX Designer"
    org="DSW"
    orgLink="https://www.dsw.nl"
    location="Schiedam, Netherlands"
    dateRange="Jul 2014 – Jun 2017"
    duration="3 years"
  >
    <ul>
      <li>
        Created wireframes, mockups and prototypes for customer-facing websites
        and iOS and Android apps.
      </li>
      <li>Implemented website designs using Bootstrap, HTML and CSS.</li>
      <li>
        Conducted usability tests, expert reviews and a top task analysis.
      </li>
    </ul>
  </ExperienceItem>
  <ExperienceItem
    title="UX Researcher"
    org="Netmarketing"
    orgLink="http://www.netmarketing.nl/"
    location="Rotterdam, Netherlands"
    dateRange="Oct 2013 – Feb 2014"
    duration="5 months"
  >
    <ul>
      <li>
        Wrote test scripts, coordinated participant recruitment, moderated
        usability tests, created personas and user scenarios, and wrote reports
        with mockups illustrating recommendations for discovered usability
        issues.
      </li>
      <li>
        Worked on projects for clients from various industries, such as banking,
        public transport, pension funds, and online classified ads.
      </li>
    </ul>
  </ExperienceItem>

  <ExperienceItem
    title="UX Designer"
    org="Perceptive Software"
    orgLink="https://www.hyland.com/en"
    location="Apeldoorn, Netherlands"
    dateRange="Dec 2017 – Jun 2022"
    duration="1 year"
  >
    <ul>
      <li>
        Created wireframes, mockups and prototypes for enterprise desktop and
        web applications.
      </li>
      <li>
        Was a member of an international UX team and collaborated with
        developers, business stakeholders and other UX designers.
      </li>
    </ul>
  </ExperienceItem>
  <ExperienceItem
    title="UX Design Intern"
    org="Perceptive Software"
    orgLink="https://www.hyland.com/en"
    location="Apeldoorn, Netherlands"
    dateRange="Oct 2012 – Oct 2013"
    duration="1 year"
  >
    <ul>
      <li>
        Conducted contextual inquiries, stakeholder interviews and a heuristic
        evaluation to evaluate the UX of a complex enterprise application.
      </li>
      <li>
        Wrote an in-depth report describing the discovered UX issues, user group
        descriptions, and recommendations accompanied by illustrative mockups.
      </li>
    </ul>
  </ExperienceItem>
  <ExperienceItem
    title="UX Research Intern"
    org="Valsplat"
    orgLink="https://www.valsplat.nl"
    location="Amsterdam, Netherlands"
    dateRange="Mar 2012 – Aug 2010"
    duration="6 months"
  >
    <ul>
      <li>
        Recruited participants, wrote test scripts, moderated usability tests,
        analyzed test results and wrote reports with mockups illustrating
        recommendations for discovered usability issues.
      </li>
      <li>
        Worked on projects for clients such as PayPal, Microsoft Netherlands,
        the Dutch government, ING Bank, KPN (telecom company) and KLM Royal
        Dutch Airlines.
      </li>
    </ul>
  </ExperienceItem>
</BaseLayout>
