---
import BaseLayout from "../layouts/BaseLayout.astro";
import { Picture } from "@astrojs/image/components";
import meImage from "../images/me.jpeg";
import Heading from "../components/Heading.astro";
import Paragraph from "../components/Paragraph.astro";
---

<BaseLayout pageTitle="Home Page">
  <Heading level={"1"}>Hello, I’m Hans.</Heading>
  <Picture
    src={meImage}
    widths={[760, 1520, 2280]}
    aspectRatio="3:2"
    sizes="(max-width: 800px) 100vw, 760px"
    alt="Me sitting at a table outdoors, smiling and looking directly at the camera"
    position="top"
    class="hero"
  />
  <Paragraph intro>
    I’m a product designer working on a design system at <a
      href="https://www.pleo.io/">Pleo</a
    > in Copenhagen. Bridging the gap between design and development is what I do
    best and enjoy most.
  </Paragraph>
  <Paragraph>
    I’ve been working as a designer for over ten years. I love to design and
    help build accessible, human-centered products.
  </Paragraph>
  <Paragraph>
    For the past four years, I've mainly worked on design systems. Before that,
    I worked on consumer and enterprise apps for desktop, web and mobile. My key
    skills are user-centered design, front-end development, and design systems.
  </Paragraph>
  <Paragraph>
    I’ve worked for UX research agencies and SaaS companies. I’m now at
    <a href="https://www.pleo.io/">Pleo</a>, where I'm part of the Design
    Systems Team.
  </Paragraph>
</BaseLayout>
