---
import BaseLayout from "../layouts/BaseLayout.astro";
import { Picture } from "@astrojs/image/components";
import meImage from "../images/me.jpeg";
import Heading from "../components/Heading.astro";
import Paragraph from "../components/Paragraph.astro";
---

<BaseLayout pageTitle="Home Page">
  <Heading level={"1"}>Hello, I’m Hans.</Heading>
  <Picture
    src={meImage}
    widths={[760, 1520, 2280]}
    aspectRatio="3:2"
    sizes="(max-width: 800px) 100vw, 760px"
    alt="Me sitting at a table outdoors, smiling and looking directly at the camera"
    position="top"
    class="hero"
  />
  <Paragraph intro>
    I’m a product designer working on a design system at <a
      href="https://www.pleo.io/">Pleo</a
    > in Copenhagen. Bridging the gap between design and development is what I do
    best and enjoy most.
  </Paragraph>
  <Heading level="2" id="about-me">About me</Heading>
  <Paragraph>
    I’ve been working as a designer for over ten years. I love to design and
    help build accessible, human-centered products.
  </Paragraph>
  <Paragraph>
    For the past four years, I've mainly worked on design systems. Before that,
    I worked on consumer and enterprise apps for desktop, web and mobile. My key
    skills are user-centered design, front-end development, and design systems.
  </Paragraph>
  <Paragraph>
    I’ve worked for UX research agencies and SaaS companies. I’m now at
    <a href="https://www.pleo.io/">Pleo</a>, where I'm part of the Design
    Systems Team.
  </Paragraph>
  <Heading level="2" id="experience">Experience</Heading>
  <Heading level="3">Pleo</Heading>
  <Paragraph>Senior DesignOps Designer</Paragraph>
  <Paragraph>x months</Paragraph>
  <Paragraph>June 2022 - Present</Paragraph>
  <ul>
    <li>Design system stuff</li>
    <li>DesignOps stuff</li>
    <li>Other stuff</li>
  </ul>
  <Paragraph><a href="https://www.pleo.io/">Pleo</a></Paragraph>
  <Paragraph>Copenhagen, Denmark</Paragraph>
  <h3>Siteimprove</h3>
  <Paragraph>Senior UX Designer</Paragraph>
  <Paragraph>4 years, 7 months</Paragraph>
  <Paragraph>December 2017 - June 2022</Paragraph>
  <ul>
    <li>
      Helped build a design system for an R&D department with 100+ members.
      Designed and helped code accessible UI components, wrote UX guidelines and
      created a UI kit in Figma.
    </li>
    <li>
      Designed various features for a data-heavy enterprise web application,
      such as a dashboard, account settings and recurring reports.
    </li>
    <li>
      Worked with developers, product owners, UX designers, UX writers, and
      accessibility experts.
    </li>
  </ul>
  <Paragraph><a href="https://www.siteimprove.com">Siteimprove</a></Paragraph>
  <Paragraph>Copenhagen, Denmark</Paragraph>
  <h3>DSW Zorgverzekeraar</h3>
  <Paragraph>UX Designer</Paragraph>
  <Paragraph>3 years</Paragraph>
  <Paragraph>July 2014 - June 2017</Paragraph>
  <ul>
    <li>
      Created wireframes, mockups and prototypes for customer-facing websites
      and iOS and Android apps.
    </li>
    <li>Implemented website designs using Bootstrap, HTML and CSS.</li>
    <li>Conducted usability tests, expert reviews and a top task analysis.</li>
  </ul>
  <Paragraph>
    <a href="https://www.dsw.nl/Consumenten">DSW Zorgverzekeraar</a>
  </Paragraph>
  <Paragraph>Schiedam, Netherlands</Paragraph>
  <Heading level="3">Netmarketing</Heading>
  <Paragraph>UX Researcher</Paragraph>
  <Paragraph>5 months</Paragraph>
  <Paragraph>October 2013 - February 2014</Paragraph>
  <ul>
    <li>
      Wrote test scripts, coordinated participant recruitment, moderated
      usability tests, created personas and user scenarios, and wrote reports
      with mockups illustrating recommendations for discovered usability issues.
    </li>
    <li>
      Worked on projects for clients from various industries, such as banking,
      public transport, pension funds, and online classified ads.
    </li>
  </ul>
  <Paragraph>Rotterdam, Netherlands</Paragraph>
  <Heading level="3">Perceptive Software</Heading>
  <Paragraph>UX Designer</Paragraph>
  <Paragraph>1 year</Paragraph>
  <Paragraph>October 2012 - October 2013 (1 year)</Paragraph>
  <ul>
    <li>
      Created wireframes, mockups and prototypes for enterprise desktop and web
      applications.
    </li>
    <li>
      Was a member of an international UX team and collaborated with developers,
      business stakeholders and other UX designers.
    </li>
  </ul>
  <Paragraph>
    <a href="https://en.wikipedia.org/wiki/Perceptive_Software">
      Perceptive Software
    </a>
    (now <a href="https://www.hyland.com/en">Hyland</a>)
  </Paragraph>
  <Paragraph>Apeldoorn, Netherlands</Paragraph>
  <Heading level="3">Perceptive Software</Heading>
  <Paragraph>UX Design Intern</Paragraph>
  <Paragraph>8 months</Paragraph>
  <Paragraph>February 2012 - September 2012</Paragraph>
  <ul>
    <li>
      Conducted contextual inquiries, stakeholder interviews and a heuristic
      evaluation to evaluate the UX of a complex enterprise application.
    </li>
    <li>
      Wrote an in-depth report describing the discovered UX issues, user group
      descriptions, and recommendations accompanied by illustrative mockups.
    </li>
  </ul>
  <Paragraph>
    <a href="https://en.wikipedia.org/wiki/Perceptive_Software">
      Perceptive Software
    </a>
    (now <a href="https://www.hyland.com/en">Hyland</a>)
  </Paragraph>
  <Paragraph>Apeldoorn, Netherlands</Paragraph>
  <Heading level="3">Valsplat</Heading>
  <Paragraph>UX Research Intern</Paragraph>
  <Paragraph>6 months</Paragraph>
  <Paragraph>March 2012 - August 2010</Paragraph>
  <ul>
    <li>
      Recruited participants, wrote test scripts, moderated usability tests,
      analyzed test results and wrote reports with mockups illustrating
      recommendations for discovered usability issues.
    </li>
    <li>
      Worked on projects for clients such as PayPal, Microsoft Netherlands, the
      Dutch government, ING Bank, KPN (telecom company) and KLM Royal Dutch
      Airlines.
    </li>
  </ul>
  <Paragraph><a href="https://valsplat.nl">Valsplat</a></Paragraph>
  <Paragraph>Amsterdam, Netherlands</Paragraph>
  <Heading level="2" id="portfolio">Portfolio</Heading>
  <Heading level="3">
    <a href="/portfolio/design-system-ux">Improving a design system's UX</a>
  </Heading>
  <Paragraph>
    The goal of this project was to evaluate and improve the UX of the design
    system I was working on. Here, I describe the steps I took to improve the
    experience for one of the design system’s main user groups: designers.
  </Paragraph>
  <Heading level="3">
    <a href="/portfolio/figma">Moving a design system to Figma</a>
  </Heading>
  <Paragraph>
    This case study describes how I moved a design system from Sketch to Figma.
    Specifically, how I convinced management to approve the switch, created a
    new UI kit from scratch, and onboarded a team of designers.
  </Paragraph>
  <Heading level="3">
    <a href="/portfolio/elevator">Ideal Elevator Experience</a>
  </Heading>
  <Paragraph>
    I was once given the task to design the ideal elevator experience, as part
    of a job interview. In this case study, I walk you through my user-centered
    design process for tackling such design challenges.
  </Paragraph>
  <Heading level="2" id="contact">Contact</Heading>
  <Heading level="3">Email</Heading>
  <Paragraph>sandberg.hans@gmail.com</Paragraph>
  <button>Copy email address</button>
  <a href="mailto:sandberg.hans@gmail.com">Compose email</a>
  <Heading level="3">LinkedIn</Heading>
  <Paragraph>@hans-sandberg</Paragraph>
  <a href="mailto:sandberg.hans@gmail.com">Visit LinkedIn profile</a>
</BaseLayout>
