---
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <div class="u-container">
      <h1>Hi, I’m Hans Sandberg.</h1>
      <p>
        I’m a product designer working on a design system at Pleo in Copenhagen.
        Bridging the gap between design and development is what I do best and
        enjoy most.
      </p>
      <h2>About me</h2>
      <p>
        I’ve been working as a designer for over ten years. I love to design and
        help build accessible, human-centered products.
      </p>
      <p>
        For the past four years, I've mainly worked on design systems. Before
        that, I worked on consumer and enterprise apps for desktop, web and
        mobile. My key skills are user-centered design, front-end development,
        and design systems.
      </p>
      <p>
        I’ve worked for UX research agencies and SaaS companies. I’m now at
        Pleo, where I'm part of the Design Systems Team.
      </p>
    </div>
  </body>
</html>
