---
import Icon from "./Icon.astro";
---

<a href="#">Back to top<Icon name={"arrowUp"} class="icon" /></a>

<style>
  @keyframes up-down-wiggle {
    0% {
      transform: translateY(0%);
    }
    50% {
      transform: translateY(-30%);
    }
    100% {
      transform: translateY(0%);
    }
  }

  .icon {
    color: var(--color-accent);
    width: var(--step--1);
    height: var(--step--1);
    transition: var(--motion-exit-small);
    transition-property: color;
  }

  a {
    display: inline-flex;
    align-items: center;
    gap: var(--space-3xs);
    font-size: var(--step--1);
    color: var(--color-content-quiet);
    text-decoration: none;
    transition: var(--motion-exit-small);
    transition-property: color;
    border-radius: var(--border-radius-round);

    &:hover {
      color: var(--color-accent);
      transition: var(--motion-enter-small);
      transition-property: color;

      .icon {
        animation: up-down-wiggle var(--motion-duration-slow)
          var(--motion-easing-enter-and-exit) both;
      }
    }
  }
</style>
