---
import Icon from "./Icon.astro";
---

<a href="#">Back to top<Icon name={"arrowUp"} class="icon" /></a>

<style>
  @keyframes up-down-wiggle {
    0% {
      transform: translateY(0%);
    }
    50% {
      transform: translateY(-30%);
    }
    100% {
      transform: translateY(0%);
    }
  }

  .icon {
    color: var(--color-accent);
    width: var(--step--1);
    height: var(--step--1);
    transition: var(--motion-exit-small);
    transition-property: color;
  }

  a {
    color: var(--color-content-quiet);
    font-size: var(--step--1);
    padding-inline: var(--space-xs);
    padding-block: var(--space-3xs);
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--space-3xs);
    border: var(--border-quiet);
    border-radius: var(--border-radius-regular);
    transition: var(--motion-enter-and-exit-large);
    transition-property: color, border-color;

    &:hover {
      @media (hover: hover) {
        color: var(--color-accent);
        border-color: var(--color-accent);

        .icon {
          animation: up-down-wiggle var(--motion-duration-slow)
            var(--motion-easing-enter-and-exit) both;
        }
      }
    }

    &:active {
      transform: scale(0.99);
    }
  }
</style>
