---
import Heading from "./Heading.astro";
import Icon from "./Icon.astro";

interface Props {
  title: string;
  subTitle: string;
  url: string;
}
const { title = "Title", subTitle = "Subtitle", url } = Astro.props;
---

<li class="wrapper">
  <div class="wrapper__heading-and-icon">
    <Heading as="h2" class="heading"><a href={url}>{title}</a></Heading>
    <div class="wrapper__icon">
      <Icon name="arrowRight" class="icon" />
    </div>
  </div>
  <p class="subtitle">{subTitle}</p>
</li>

<style>
  @keyframes left-right-wiggle {
    0% {
      transform: translateX(0%);
    }
    50% {
      transform: translateX(-20%);
    }
    100% {
      transform: translateX(0%);
    }
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: var(--space-2xs);
    padding-block: var(--space-m);
    border-bottom: var(--border-size-regular) solid var(--color-border-quiet);
    position: relative;
    transition: var(--motion-exit-large);
    transition-property: border-color;

    &:hover {
      border-color: var(--color-accent);
      transition: var(--motion-enter-large);
      transition-property: border-color;

      .heading {
        color: var(--color-accent);
      }

      .wrapper__icon {
        animation: left-right-wiggle var(--motion-duration-slow)
          var(--motion-easing-enter-and-exit) both;
      }
    }

    &:has(:focus-visible) {
      outline: var(--focusring-regular);
      outline-offset: var(--offset-focusring);
    }
  }

  .wrapper__heading-and-icon {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: var(--space-s);
  }

  a {
    text-decoration: none;
    &:focus {
      outline: none;
    }
  }

  a::before {
    content: "";
    display: block;
    inset: 0;
    position: absolute;
  }

  .wrapper__icon {
    display: flex;
    height: calc(var(--step-2) * var(--line-height-tight));
    align-items: center;
    flex-shrink: 0;
    transition: var(--motion-exit-small);
    transition-property: transform;

    .icon {
      width: var(--step-1);
      height: var(--step-1);
      color: var(--color-accent);
      transition: var(--motion-exit-small);
      transition-property: color;
    }
  }

  .subtitle {
    color: var(--color-content-quiet);
  }
</style>
