---
import Heading from "./Heading.astro";
import Icon from "./Icon.astro";
import Paragraph from "./Paragraph.astro";

interface Props {
  title: string;
  subTitle: string;
  url: string;
}
const { title = "Title", subTitle = "Subtitle", url } = Astro.props;
---

<li class="wrapper">
  <div class="heading-wrapper">
    <Heading as="h2" class="heading"><a href={url}>{title}</a></Heading>
    <Paragraph color="quiet">{subTitle}</Paragraph>
  </div>
  <div class="icon-wrapper">
    <Icon name="arrowRight" class="icon" />
  </div>
</li>

<style lang="scss">
  @keyframes left-right-wiggle {
    0% {
      transform: translateX(0%);
    }
    50% {
      transform: translateX(-20%);
    }
    100% {
      transform: translateX(0%);
    }
  }

  .wrapper {
    display: flex;
    justify-content: space-between;
    gap: var(--space-m);
    padding-block: var(--space-m);
    border-bottom: var(--border-size-regular) solid var(--color-border-quiet);
    position: relative;
    transition: var(--motion-exit-large);
    transition-property: border-color;

    &:hover {
      border-color: var(--color-accent);
      transition: var(--motion-enter-large);
      transition-property: border-color;

      .heading {
        color: var(--color-accent);
      }

      .icon-wrapper {
        animation: left-right-wiggle var(--motion-duration-slow)
          var(--motion-easing-enter-and-exit) both;
      }
    }

    &:has(:focus-visible) {
      outline: var(--focusring);
    }
  }

  .heading-wrapper {
    display: flex;
    flex-direction: column;
    gap: var(--space-3xs);
  }

  a {
    text-decoration: none;
    &:focus {
      outline: none;
    }
  }

  a::before {
    content: "";
    display: block;
    inset: 0;
    position: absolute;
  }

  .icon-wrapper {
    flex-shrink: 0;
    transition: var(--motion-exit-small);
    transition-property: transform;

    .icon {
      width: var(--step-0);
      height: var(--step-0);
      color: var(--color-accent);
      transition: var(--motion-exit-small);
      transition-property: color;
    }
  }

  p {
    color: var(--color-content-quiet);
  }
</style>
