---
import "../styles/global.css";
import Heading from "./Heading.astro";
import Icon from "./Icon.astro";
import Paragraph from "./Paragraph.astro";

interface Props {
  title: string;
  subTitle: string;
  url: string;
}
const { title = "Title", subTitle = "Subtitle", url } = Astro.props;
---

<article>
  <div class="wrapper">
    <Heading as="h2"><a href={url}>{title}</a></Heading>
    <Icon name="arrowRight" class="icon-arrow-right" />
  </div>
  <Paragraph color="subtle">{subTitle}</Paragraph>
</article>

<style lang="scss">
  article {
    display: flex;
    flex-direction: column;
    gap: var(--space-2xs);
    padding-block: var(--space-m);
    border-bottom: 1px solid var(--color-border-subtle);
    position: relative;
    transition: border-color var(--transition-duration-regular);

    &:hover {
      border-color: var(--color-border);
      border-top-width: 2px;

      .icon-arrow-right {
        color: var(--color-content-regular);
        transform: translateX(-25%);
      }
    }

    &:active {
      .icon-arrow-right {
        transform: revert;
      }
    }

    &:has(:focus-visible) {
      outline: 2px solid var(--color-focusring);
    }
  }

  .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--space-m);
  }

  a {
    text-decoration: none;
    &:focus {
      outline: none;
    }
  }

  a::before {
    content: "";
    display: block;
    inset: 0;
    position: absolute;
  }

  p {
    color: var(--color-content-subtle);
  }

  .icon-arrow-right {
    color: var(--color-content-subtle);
    width: var(--step-2);
    height: var(--step-2);
    transition:
      color,
      transform 0.2s;
    flex-shrink: 0;
  }
</style>
