---
import "../styles/global.css";
import Heading from "./Heading.astro";
import Icon from "./Icon.astro";
import Paragraph from "./Paragraph.astro";

interface Props {
  title: string;
  subTitle: string;
  url: string;
}
const { title = "Title", subTitle = "Subtitle", url } = Astro.props;
---

<div class="wrapper">
  <div class="heading-wrapper">
    <Heading as="h2"><a href={url}>{title}</a></Heading>
    <div class="icon-wrapper">
      <Icon name="chevronRight" class="icon" />
    </div>
  </div>
  <Paragraph color="subtle">{subTitle}</Paragraph>
</div>

<style lang="scss">
  .wrapper {
    display: flex;
    flex-direction: column;
    gap: var(--space-2xs);
    padding-block: var(--space-m);
    border-bottom: var(--border-size-regular) solid var(--color-border-subtle);
    position: relative;
    transition: var(--motion-exit-large);
    transition-property: border-color;

    &:hover {
      border-color: var(--color-border-regular);
      transition: var(--motion-enter-large);
      transition-property: border-color;

      .icon {
        color: var(--color-content-regular);
        transition: var(--motion-enter-small);
      }

      .icon-wrapper {
        transform: translateX(-25%);
        transition: var(--motion-enter-small);
      }
    }

    &:active {
      .icon-wrapper {
        transform: revert;
      }
    }

    &:has(:focus-visible) {
      outline: var(--focusring);
    }
  }

  .heading-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--space-m);
  }

  a {
    text-decoration: none;
    &:focus {
      outline: none;
    }
  }

  a::before {
    content: "";
    display: block;
    inset: 0;
    position: absolute;
  }

  .icon-wrapper {
    width: var(--step-2);
    height: var(--step-2);
    flex-shrink: 0;
    display: grid;
    place-content: center;
    background: var(--color-background-loud);
    border-radius: var(--border-radius-round);
    transition: var(--motion-exit-small);
    transition-property: transform;

    .icon {
      width: var(--step-0);
      height: var(--step-0);
      flex-shrink: 0;
      color: var(--color-content-subtle);
      transition: var(--motion-exit-small);
      transition-property: color;
    }
  }

  p {
    color: var(--color-content-subtle);
  }
</style>
