---
import type { HTMLAttributes } from "astro/types";
import "../styles/global.css";
import Icon from "./Icon.astro";

interface Props extends HTMLAttributes<"button"> {
  icon: "arrowRight" | "chevronRight" | "download" | "linkedin";
}

const { icon = "download", ...rest } = Astro.props;
---

<button {...rest}><slot /><Icon name={icon} class="icon" /></button>

<style lang="scss">
  button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--space-xs) var(--space-m);
    border: var(--border-size-regular) solid var(--color-border);
    background-color: var(--color-background);
    border-radius: var(--border-radius-regular);
    cursor: pointer;
    text-align: left;
    transition: border-color var(--transition-duration-regular);

    &:hover {
      border-color: var(--color-border-hover);

      .icon {
        color: var(--color-content-regular);
      }
    }

    .icon {
      height: var(--step-1);
      width: var(--step-1);
      color: var(--color-content-subtle);
      transition: color var(--transition-duration-regular);
    }
  }
</style>
