<div id="contact__wrapper">
  <a href="https://www.linkedin.com/in/hans-sandberg/">LinkedIn</a>
  <a href="mailto:sandberg.hans@gmail.com">Email</a>
</div>

<style>
  #contact__wrapper {
    display: flex;
    flex-direction: row;
    gap: var(--space-2xs);
  }
</style>
