---
const contactOptions: { href: string; title: string }[] = [
  {
    href: "https://www.linkedin.com/in/hans-sandberg/",
    title: "LinkedIn",
  },
  {
    href: "mailto:sandberg.hans@gmail.com",
    title: "Email",
  },
  {
    href: "https://github.com/DoctorHans",
    title: "GitHub",
  },
];
---

<ul class="footer__contact">
  {
    contactOptions.map((contactOption) => (
      <li>
        <a href={contactOption.href}>{contactOption.title}</a>
      </li>
    ))
  }
</ul>

<style>
  .footer__contact {
    list-style-type: "";
    display: flex;
    flex-direction: row;
    gap: var(--space-2xs);
  }
</style>
