---
import "../styles/global.css";
import Paragraph from "./Paragraph.astro";
---

<div class="wrapper">
  <div class="where">
    <Paragraph color="loud" weight="semibold">
      Senior UX Designer @ Siteimprove
    </Paragraph>
    <Paragraph color="subtle">Copenhagen, Denmark</Paragraph>
  </div>
  <div class="when">
    <Paragraph color="loud" weight="semibold">4 years, 7 months</Paragraph>
    <Paragraph color="subtle">December 2017 - June 2022</Paragraph>
  </div>
  <div class="what">
    <ul>
      <li>
        Helped build a design system for an R&D department with 100+ members.
        Designed and helped code accessible UI components, wrote UX guidelines
        and created a UI kit in Figma.
      </li>
      <li>
        Designed various features for a data-heavy enterprise web application,
        such as a dashboard, account settings and recurring reports.
      </li>
      <li>
        Worked with developers, product owners, UX designers, UX writers, and
        accessibility experts.
      </li>
    </ul>
  </div>
</div>

<style lang="scss">
  .wrapper {
    --flow-space: 0;
    display: grid;
    grid-template-areas: "topleft topright" "bottomleft bottomright";
    grid-template-columns: auto 1fr;
    gap: var(--space-m) var(--space-xl);
  }

  ul {
    padding-inline-start: 0;
    list-style: circle;
    display: flex;
    flex-direction: column;
    gap: var(--space-2xs);
  }

  .where {
    grid-area: topright;
    display: flex;
    flex-direction: column;
    gap: var(--space-3xs);
  }
  .when {
    grid-area: topleft;
    display: flex;
    flex-direction: column;
    gap: var(--space-3xs);
  }
  .what {
    grid-area: bottomright;
  }
</style>
