---
import "../styles/global.css";

interface Props {
    label: string;
}

const { label } = Astro.props;
---

<button class="disclosure-button" aria-expanded="false"
    ><span class="visible-label" aria-hidden="true">Details</span><span
        class="sr-only">{label}</span
    ><svg
        xmlns="http://www.w3.org/2000/svg"
        width="36"
        height="36"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="feather feather-chevron-right"
        ><polyline points="9 18 15 12 9 6"></polyline></svg
    ></button
>
<div aria-hidden="true" class="details">
    <div class="details-inner"><slot /></div>
</div>

<style lang="scss">
    .disclosure-button {
        all: unset;
        display: flex;
        gap: var(--space-3xs);
        align-items: center;
        color: var(--color-content-subtle);
        cursor: pointer;
        transition: color var(--transition-duration-regular);
        align-self: flex-start;

        &:hover {
            color: var(--color-content-loud);
        }

        &:focus-visible {
            outline: var(--focusring);
            outline-offset: var(--offset-focusring);
        }
    }

    .disclosure-button[aria-expanded="true"] {
        .feather-chevron-right {
            transform: rotate(90deg);
        }
    }

    .feather-chevron-right {
        width: var(--step-1);
        height: var(--step-1);
        flex-shrink: 0;
        transition: transform var(--transition-duration-regular);
    }

    @container my-container (min-width: 50ch) {
        .disclosure-button {
            width: var(--step-3);
            height: var(--step-3);
            background-color: var(--color-background-subtle);
            border-radius: 50%;
            display: grid;
            place-content: center;

            .feather-chevron-right {
                transform: rotate(90deg);
            }

            &[aria-expanded="true"] {
                .feather-chevron-right {
                    transform: rotate(270deg);
                }
            }
        }

        .visible-label {
            display: none;
        }
    }

    .details {
        display: grid;

        &[aria-hidden="false"] {
            grid-template-rows: 1fr;
            opacity: 1;
            transition:
                opacity var(--transition-duration-slow),
                grid-template-rows var(--transition-duration-fast);
            margin-block-end: var(--space-m);
        }

        &[aria-hidden="true"] {
            grid-template-rows: 0fr;
            opacity: 0;
            transition:
                opacity var(--transition-duration-fast),
                grid-template-rows var(--transition-duration-regular);
        }
    }

    .details-inner {
        overflow: hidden;
    }
</style>

<script>
    const disclosureButtons = document.querySelectorAll(".disclosure-button");

    disclosureButtons.forEach((disclosureButton, idx) => {
        const content: Element | null = disclosureButton.nextElementSibling;
        content?.setAttribute("id", `content-${idx + 1}`);
        disclosureButton.setAttribute("aria-controls", `content-${idx + 1}`);

        function toggleDisclosure() {
            if (disclosureButton.getAttribute("aria-expanded") === "false") {
                disclosureButton.setAttribute("aria-expanded", "true");
                content?.setAttribute("aria-hidden", "false");
            } else {
                disclosureButton.setAttribute("aria-expanded", "false");
                content?.setAttribute("aria-hidden", "true");
            }
        }

        disclosureButton.addEventListener("click", toggleDisclosure);
    });
</script>
