---
import type { HTMLAttributes } from "astro/types";
import "../styles/global.css";
import type { IconName } from "./Icon.astro";
import Icon from "./Icon.astro";
import Paragraph from "./Paragraph.astro";

interface Props extends HTMLAttributes<"li"> {
  icon?: IconName;
}

const { icon = "chevronRight", ...rest } = Astro.props;
---

<li class="wrapper" {...rest}>
  <Icon name={icon} class="icon" />
  <Paragraph size="-1" weight="semibold"><slot /></Paragraph>
</li>

<style lang="scss">
  .wrapper {
    background: var(--color-background-loud);
    border-radius: var(--border-radius-regular);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--space-xs);
    padding: var(--space-s);
  }

  .icon {
    width: var(--step-0);
    height: var(--step-0);
  }
</style>
