---
import "../styles/global.css";
import BackToTop from "./BackToTop.astro";
import ThemePicker from "./ThemePicker.astro";
import Copyright from "./Copyright.astro";
---

<footer class="u-container">
  <div class="wrapper">
    <Copyright />
    <BackToTop />
    <ThemePicker />
  </div>
</footer>

<style lang="scss">
  footer {
    margin-block-start: auto;
    margin-block-end: var(--space-m);
  }
  .wrapper {
    color: var(--color-content-quiet);
    font-size: var(--step--1);
    display: flex;
    gap: var(--space-s);
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
</style>
