---
import "../styles/global.css";
---

<footer class="u-container">
  <div class="wrapper">
    <p>© 2023 Hans Sandberg</p>
    <a href="#">Back to top</a>
  </div>
</footer>

<style>
  footer {
    margin-block-start: auto;
  }
  .wrapper {
    --flow-space: 0;
    color: var(--color-content-subtle);
    font-size: var(--step--1);
    padding-block: var(--space-s);
    display: flex;
    gap: var(--space-2xs);
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
  }
</style>
