<footer>
  <a href="mailto:sandberg.hans@gmail.com">sandberg.hans@gmail.com</a>
  <a href="https://www.linkedin.com/in/hans-sandberg/">LinkedIn</a>
  <a href="#">Back to top</a>
  <p>© 2023 Hans Sandberg</p>
</footer>
