---
import "../styles/global.css";
---

<footer class="u-container">
  <div class="wrapper">
    <p>© 2023 Hans Sandberg</p>
    <a href="#">Back to top</a>
    <fieldset id="theme-picker">
      <legend>theme</legend>
      <label>
        <input name="theme" type="radio" value="system" checked />
        system
      </label>
      <label>
        <input name="theme" type="radio" value="dark" />
        dark
      </label>
      <label>
        <input name="theme" type="radio" value="light" />
        light
      </label>
    </fieldset>
  </div>
</footer>

<style>
  footer {
    margin-block-start: auto;
  }
  .wrapper {
    color: var(--color-content-subtle);
    font-size: var(--step--1);
    padding-block: var(--space-s);
    display: flex;
    gap: var(--space-2xs);
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
  }
</style>
