---
import BackToTop from "./BackToTop.astro";
import ThemePicker from "./ThemePicker.astro";
import Copyright from "./Copyright.astro";
import Contact from "./Contact.astro";
---

<footer class="page-wrapper">
  <div id="footer__wrapper">
    <div id="footer__copyright-and-contact">
      <Copyright />
      <Contact />
    </div>
    <BackToTop />
    <ThemePicker />
  </div>
</footer>

<style>
  footer {
    font-size: var(--step--1);
    color: var(--color-content-quiet);
    margin-block-start: auto;
    padding-block: var(--space-s);
    container-name: footer__container;
    container-type: inline-size;
  }
  #footer__wrapper {
    display: flex;
    flex-direction: column;
    gap: var(--space-s);
  }
  #footer__copyright-and-contact {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: var(--space-s);
  }

  @container footer__container (width > 25rem) {
    #footer__wrapper {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: baseline;
    }

    #footer__copyright-and-contact {
      justify-content: flex-start;
    }
  }
</style>
