---
import "../styles/global.css";
import SkipLink from "./SkipLink.astro";
import Nav from "./Nav.astro";
import Logo from "./Logo.astro";
---

<header class="u-container">
  <SkipLink />
  <div class="wrapper">
    <Logo />
    <Nav />
  </div>
</header>

<style>
  .wrapper {
    padding-block: var(--space-s);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: var(--color-background);
  }
</style>
