---
import "../styles/global.css";
---

<header>
  <nav>
    <ul>
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/#about-me">About me</a>
      </li>
      <li>
        <a href="/#experience">Experience</a>
      </li>
      <li>
        <a href="/#portfolio">Portfolio</a>
      </li>
      <li>
        <a href="/#contact">Contact</a>
      </li>
    </ul>
  </nav>
</header>

<style>
  header {
    --flow-space: 0;
    padding-inline: var(--grid-gutter);
    padding-block: var(--space-s);
    display: flex;
    justify-content: flex-end;
  }
  ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-xs);
  }
</style>
