---
import type { HTMLTag, Polymorphic } from "astro/types";
import "../styles/global.css";
type Props<Tag extends HTMLTag> = Polymorphic<{
  as: Tag;
  step?: string;
}>;

const { as: Tag, step, ...props } = Astro.props;
---

<Tag {...props} class:list={[{ wrapper: step }]}>
  {step && <span class="step">Step {step}.</span>}
  <slot />
</Tag>

<style lang="scss">
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 1.2;
    max-width: 25ch;
    color: var(--color-content-loud);
    scroll-margin-top: calc(var(--space-2xl) + 1.5rem);
    text-wrap: balance;
  }

  h1 {
    font-size: var(--step-4);
  }

  h2 {
    font-size: var(--step-3);
  }

  h3 {
    font-size: var(--step-2);
  }

  h4 {
    font-size: var(--step-1);
  }

  h5 {
    font-size: var(--step--1);
  }

  h6 {
    font-size: var(--step--2);
  }

  .step {
    color: var(--color-content-subtle);
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    gap: var(--space-3xs);
  }
</style>
