---
import "../styles/global.css";
---

<div class="highlight-and-image">
    <slot name="highlight" />
    <slot name="image" />
</div>

<style is:global>
    .highlight-and-image {
        display: flex;
        flex-direction: row;
        gap: var(--space-m);
        flex-wrap: wrap;
    }

    .highlight-and-image > :first-child {
        flex: 1 0 auto;
    }

    .highlight-and-image > :last-child {
        flex: 2 0 auto;
    }
</style>
