---
import "../styles/global.css";
import type { HTMLTag } from "astro/types";
interface Props {
  title: string;
  headingLevel?: "1" | "2" | "3" | "4" | "5" | "6";
}
const { title, headingLevel = "3" } = Astro.props;
const Heading: HTMLTag = `h${headingLevel}`;
---

<li class="wrapper">
  <Heading>{title}</Heading>
  <p><slot /></p>
</li>

<style lang="scss">
  .wrapper {
    --flow-space: 0;
    background: var(--color-background-subtle);
    border-radius: 0.75rem;
    display: flex;
    flex-direction: column;
    gap: var(--space-xs);
    padding: var(--space-m);
  }
</style>
