---
import "../styles/global.css";
import type { IconName } from "../types/IconName";
import Heading from "./Heading.astro";
import Icon from "./Icon.astro";
import Paragraph from "./Paragraph.astro";
interface Props {
  title: string;
  headingLevel?: "h1" | "h2" | "h3" | "h4" | "h5" | "h6";
  blockquote?: boolean;
  icon?: IconName;
}
const {
  title,
  headingLevel = "h3",
  blockquote = false,
  icon = "download",
} = Astro.props;
const Content = blockquote ? "blockquote" : "div";
---

<li class="wrapper">
  <div class="icon-wrapper">
    <Icon name={icon} class="icon" />
  </div>
  <Heading as={headingLevel} class="title">{title}</Heading>
  <Content><Paragraph><slot /></Paragraph></Content>
</li>

<style lang="scss">
  .wrapper {
    background: var(--color-background-loud);
    border-radius: 0.75rem;
    display: flex;
    flex-direction: column;
    gap: var(--space-xs);
    padding: var(--space-m);
    max-width: min(100%, 32ch);
    flex-shrink: 0;
    scroll-snap-align: start;
  }

  .icon {
    width: var(--step-0);
    height: var(--step-0);
  }

  .icon-wrapper {
    display: grid;
    place-content: center;
    width: fit-content;
    border-radius: var(--border-radius-round);
    padding: var(--space-xs);
    background-color: var(--color-background-louder);
  }

  .title {
    font-size: var(--step-0);
  }
</style>
