---
import "../styles/global.css";
interface Props {
  title: string;
}
const { title } = Astro.props;
---

<li class="wrapper">
  <h3>{title}</h3>
  <p><slot /></p>
</li>

<style lang="scss">
  .wrapper {
    --flow-space: 0;
    background: var(--color-background-subtle);
    border-radius: 0.75rem;
    display: flex;
    flex-direction: column;
    gap: var(--space-xs);
    padding: var(--space-m);
  }
</style>
