---
import type { HTMLAttributes } from "astro/types";

import type { IconName } from "./Icon.astro";
import Heading from "./Heading.astro";
import Icon from "./Icon.astro";
import Paragraph from "./Paragraph.astro";
interface Props extends HTMLAttributes<"div"> {
  title: string;
  headingLevel?: "h1" | "h2" | "h3" | "h4" | "h5" | "h6";
  blockquote?: boolean;
  icon?: IconName;
}
const {
  title,
  headingLevel = "h3",
  blockquote = false,
  icon = "download",
  class: className,
  ...rest
} = Astro.props;
const Content = blockquote ? "blockquote" : "div";
---

<div class:list={["wrapper", className]} {...rest}>
  <Icon name={icon} class="icon" />
  <Heading as={headingLevel} class="title">{title}</Heading>
  <Content><Paragraph><slot /></Paragraph></Content>
</div>

<style lang="scss">
  .wrapper {
    background: var(--color-background-loud);
    border-radius: 0.75rem;
    display: flex;
    flex-direction: column;
    gap: var(--space-xs);
    padding: var(--space-m);
    height: 100%;
  }

  .icon {
    width: var(--step-0);
    height: var(--step-0);
    color: var(--color-accent);
  }

  .title {
    font-size: var(--step--1);
  }
</style>
