---
import "../styles/global.css";
interface Props {
  title: string;
  headingLevel?: string;
}
const { title, headingLevel = "3" } = Astro.props;
const Heading = `h${headingLevel}`;
---

<li class="wrapper">
  <Heading>{title}</Heading>
  <p><slot /></p>
</li>

<style lang="scss">
  .wrapper {
    --flow-space: 0;
    background: var(--color-background-subtle);
    border-radius: 0.75rem;
    display: flex;
    flex-direction: column;
    gap: var(--space-xs);
    padding: var(--space-m);
  }
</style>
