---
import type { HTMLAttributes } from "astro/types";

const { class: className, ...rest } = Astro.props;
---

<div class:list={["image-wrapper", className]} {...rest}>
  <slot />
</div>

<style lang="scss">
  .image-wrapper {
    display: grid;
    place-content: center;
    padding-block: var(--space-l);
    padding-inline: var(--space-m);
    background-color: var(--color-background-loud);
    border-radius: var(--border-radius-regular);
    margin-block-start: var(--space-s);

    & :global(img) {
      border-radius: var(--border-radius-small);
      box-shadow: var(--shadow-elevation-medium);
    }
  }

  :global(.highlight-and-image .image-wrapper) {
    margin-block-start: unset;
  }
</style>
