---
import "../styles/global.css";
import VisuallyHidden from "./VisuallyHidden.astro";
---

<a href="/">
  <span aria-hidden="true">h</span>
  <VisuallyHidden>Home</VisuallyHidden>
</a>

<style>
  a {
    text-decoration: none;
    margin-inline-end: auto;
    color: var(--color-content-inverted);
    font-weight: var(--font-weight-bold);
    background-color: var(--color-accent);
    display: grid;
    place-content: center;
    height: max(var(--space-m), 2rem);
    width: max(var(--space-m), 2rem);
    border-radius: var(--border-radius-round);
  }
</style>
