---
import VisuallyHidden from "./VisuallyHidden.astro";
import SVG from "../images/logo.svg";
---

<a href="/">
  <SVG id="vector" />
  <VisuallyHidden>Home</VisuallyHidden>
</a>

<style>
  a {
    text-decoration: none;
    margin-inline-end: auto;
    flex-shrink: 0;
  }

  #vector {
    fill: var(--color-accent);
    height: var(--space-l);
    width: var(--space-l);
  }
</style>
