<nav aria-label="main">
  <ul>
    <li class="nav__highlight" aria-hidden="true"></li>
    <li>
      <a href="/">Home</a>
    </li>
    <li>
      <a href="/about">About</a>
    </li>
    <li>
      <a href="/experience">Experience</a>
    </li>
    <li>
      <a href="/portfolio">Portfolio</a>
    </li>
    <li>
      <a href="/contact">Contact</a>
    </li>
  </ul>
</nav>

<style>
  ul {
    list-style-type: "";
    padding-inline-start: 0;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    flex-wrap: wrap;
    column-gap: var(--space-2xs-m);
    row-gap: var(--space-2xs);
  }
  a {
    text-decoration: none;
    color: var(--color-content-quiet);
    transition: none;
    &:hover {
      color: var(--color-accent);
    }
    &.active {
      color: var(--color-content-loud);
      font-weight: var(--font-weight-semibold);
    }
  }

  li:has(a.active) {
    anchor-name: --active-link;
  }

  .nav__highlight {
    position: absolute;
    position-anchor: --active-link;
    top: anchor(top);
    right: anchor(right);
    bottom: calc(anchor(bottom) - var(--space-3xs));
    left: anchor(left);
    height: var(--border-size-thick);
    background: var(--color-accent);
    transition: var(--motion-enter-and-exit-large);
    transition-property: left, right;
    view-transition-name: nav-highlight;
  }
</style>

<script>
  const nav: HTMLElement | null = document.querySelector("nav");

  // Indicate active page visually and to screen readers
  nav?.querySelectorAll("a").forEach((link) => {
    if (link.href === window.location.href) {
      link.setAttribute("aria-current", "page");
    }

    // Get the current path from the window location
    // Example result: '/portfolio/design-system-ux'
    const currentPath = window.location.pathname;

    // Split the current path by "/", resulting in an array
    // Example result: ['', 'portfolio', 'design-system-ux']
    const currentPathSplit = currentPath.split("/");

    // Get the first path segment after the root slash
    // Example result: 'portfolio'
    const currentPathFirstSegment = currentPathSplit[1];

    // Get the path from the link element
    // Example: '/portfolio'
    const linkPath = link.pathname;

    // Remove the leading "/" from the link's path to get the first segment
    // Example: 'portfolio'
    const linkPathFirstSegment = linkPath.slice(1);

    if (currentPathFirstSegment === linkPathFirstSegment) {
      link.classList.add("active");
    }
  });
</script>
