---
import VisuallyHidden from "./VisuallyHidden.astro";
---

<nav>
  <ul class="ul">
    <li>
      <a href="/about">About</a>
    </li>
    <li>
      <a href="/experience">Experience</a>
    </li>
    <li>
      <a href="/portfolio">Portfolio</a>
    </li>
    <li>
      <a href="/contact">Contact</a>
    </li>
  </ul>
</nav>

<style>
  .ul {
    list-style-type: "";
    display: flex;
    flex-direction: row;
    gap: var(--space-s);
  }
  a {
    text-decoration: none;
    color: var(--color-content-quiet);
    transition: none;
    &:hover {
      color: var(--color-accent);
    }
    &.active {
      color: var(--color-content-loud);
      text-decoration: underline;
      text-decoration-color: var(--color-accent);
      text-decoration-thickness: 0.125rem;
      text-underline-offset: var(--space-2xs);
      font-weight: var(--font-weight-semibold);
    }
  }
</style>

<script>
  const nav: HTMLElement | null = document.querySelector("nav");

  // Indicate active page visually and to screen readers
  nav?.querySelectorAll("a").forEach((link) => {
    if (link.href === window.location.href) {
      link.setAttribute("aria-current", "page");
    }

    // Get the current path from the window location
    // Example result: '/portfolio/design-system-ux'
    const currentPath = window.location.pathname;

    // Split the current path by "/", resulting in an array
    // Example result: ['', 'portfolio', 'design-system-ux']
    const currentPathSplit = currentPath.split("/");

    // Get the first path segment after the root slash
    // Example result: 'portfolio'
    const currentPathFirstSegment = currentPathSplit[1];

    // Get the path from the link element
    // Example: '/portfolio'
    const linkPath = link.pathname;

    // Remove the leading "/" from the link's path to get the first segment
    // Example: 'portfolio'
    const linkPathFirstSegment = linkPath.slice(1);

    if (currentPathFirstSegment === linkPathFirstSegment) {
      link.classList.add("active");
    }
  });
</script>
