---
import "../styles/global.css";
import VisuallyHidden from "./VisuallyHidden.astro";
---

<nav id="nav">
  <button
    id="nav-toggle"
    class="scroll-lock"
    type="button"
    aria-expanded="false"
    aria-controls="nav"
  >
    <VisuallyHidden>Menu</VisuallyHidden>
    <span id="nav-toggle-visual-label" aria-hidden="true">Menu</span>
  </button>
  <ul>
    <li>
      <a href="/">Home</a>
    </li>
    <li>
      <a href="/about">About</a>
    </li>
    <li>
      <a href="/experience">Experience</a>
    </li>
    <li>
      <a href="/portfolio">Portfolio</a>
    </li>
    <li>
      <a href="/contact">Contact</a>
    </li>
  </ul>
</nav>

<style>
  nav {
    @media (min-width: 48rem) {
      --nav-button-display: none;
    }

    a {
      font-size: var(--nav-list-font-size, var(--step-5));
      text-decoration: none;
      color: var(--color-content-quiet);
      transition: none;
      &:hover {
        color: var(--color-accent);
      }
      &.active {
        color: var(--color-content-loud);
        text-decoration: underline;
        text-decoration-color: var(--color-accent);
        text-decoration-thickness: 0.125rem;
        text-underline-offset: var(--space-2xs);
        font-weight: var(--font-weight-semibold);
      }
    }
  }

  ul {
    background: var(--color-background);
    display: flex;
    align-items: var(--nav-list-align-items, start);
    justify-content: var(--nav-list-justify-content, end);
    flex-direction: var(--nav-list-flex-direction, column);
    flex-wrap: wrap;
    gap: var(--space-m);
    height: var(--nav-list-height, 100vh);
    margin: 0;
    padding: var(--nav-list-padding, var(--space-m));
    position: var(--nav-list-position, fixed);
    inset-block-start: 0;
    inset-inline-end: 0;
    width: var(--nav-list-width, 100vw);
    visibility: var(--nav-list-visibility, visible);
    opacity: var(--nav-list-opacity, 1);
    transition: opacity var(--motion-duration-regular)
      var(--motion-easing-enter);
    z-index: var(--nav-list-z-index, 1);

    @media (min-width: 48rem) {
      --nav-list-font-size: var(--step--1);
      --nav-list-flex-direction: row;
      --nav-list-align-items: center;
      --nav-list-justify-content: start;
      --nav-list-position: static;
      --nav-list-padding: 0;
      --nav-list-height: auto;
      --nav-list-width: 100%;
      --nav-list-transform: none;
      --nav-list-visibility: visible;
      --nav-list-opacity: 1;
      --nav-list-z-index: reset;
    }
  }

  button[aria-expanded="false"] + ul {
    visibility: var(--nav-list-visibility, hidden);
    opacity: var(--nav-list-opacity, 0);
    transition:
      opacity var(--motion-exit-large),
      visibility 0ms var(--motion-duration-regular);
  }

  button {
    display: var(--nav-button-display, grid);
    z-index: 2;
    cursor: pointer;
    position: relative;
    font-weight: var(--font-weight-semibold);
    color: var(--color-content-regular);
    background: var(--color-background-regular);
    border: var(--border-size-regular) solid var(--color-accent);
    border-radius: var(--border-radius-round);
    place-content: center;
    padding-block: var(--space-3xs);
    padding-inline: var(--space-xs);
    transition: var(--motion-exit-small);
    transition-property: color, transform;

    &:hover {
      color: var(--color-accent);
      transform: scale(var(--scale-up-large));
      transition: var(--motion-enter-small);
      transition-property: color, transform;
    }

    &:active {
      transform: scale(var(--scale-down));
      transition: transform var(--motion-exit-small);
    }
  }
</style>

<script>
  const nav: HTMLElement | null = document.querySelector("#nav");
  const navToggle: HTMLElement | null = document.querySelector("#nav-toggle");
  const navToggleVisualLabel: HTMLElement | null = document.querySelector(
    "#nav-toggle-visual-label"
  );
  let isNavVisible = navToggle?.getAttribute("aria-expanded") === "true";

  function toggleNavVisibility() {
    isNavVisible = !isNavVisible;

    // Toggle aria-expanded attribute
    navToggle?.setAttribute("aria-expanded", String(isNavVisible));

    // Toggle button visual label
    if (navToggleVisualLabel != undefined) {
      if (isNavVisible) {
        navToggleVisualLabel.textContent = "Close";
      } else {
        navToggleVisualLabel.textContent = "Menu";
      }
    }

    isNavVisible
      ? nav?.addEventListener("keydown", trapFocus)
      : nav?.removeEventListener("keydown", trapFocus);
  }

  // Toggle aria-expanded attribute when button is clicked
  navToggle?.addEventListener("click", toggleNavVisibility);

  // Hide navigation when Escape is pressed
  nav?.addEventListener("keyup", (e) => {
    if (e.code === "Escape") {
      navToggle?.setAttribute("aria-expanded", "false");
      // Return focus to nav toggle
      navToggle?.focus();
      // Remove event listener for focus trap
      nav?.removeEventListener("keydown", trapFocus);
    }
  });

  // Trap focus
  const focusableElements: Array<HTMLAnchorElement | HTMLButtonElement> =
    nav?.querySelectorAll("a, button") as any;
  const firstFocusableElement: HTMLAnchorElement | HTMLButtonElement =
    focusableElements?.[0];
  const lastFocusableElement: HTMLAnchorElement | HTMLButtonElement =
    focusableElements?.[focusableElements.length - 1];

  function trapFocus(e: KeyboardEvent) {
    var isTabPressed = e.code === "Tab";

    if (!isTabPressed) {
      return;
    }

    /* shift + tab */ if (e.shiftKey) {
      if (document.activeElement === firstFocusableElement) {
        lastFocusableElement?.focus();
        e.preventDefault();
      }
    } /* tab */ else {
      if (document.activeElement === lastFocusableElement) {
        firstFocusableElement?.focus();
        e.preventDefault();
      }
    }
  }

  // Indicate active page visually and to screen readers
  nav?.querySelectorAll("a").forEach((link) => {
    if (link.href === window.location.href) {
      link.setAttribute("aria-current", "page");
    }

    // Get the current path from the window location
    // Example result: '/portfolio/design-system-ux'
    const currentPath = window.location.pathname;

    // Split the current path by "/", resulting in an array
    // Example result: ['', 'portfolio', 'design-system-ux']
    const currentPathSplit = currentPath.split("/");

    // Get the first path segment after the root slash
    // Example result: 'portfolio'
    const currentPathFirstSegment = currentPathSplit[1];

    // Get the path from the link element
    // Example: '/portfolio'
    const linkPath = link.pathname;

    // Remove the leading "/" from the link's path to get the first segment
    // Example: 'portfolio'
    const linkPathFirstSegment = linkPath.slice(1);

    if (currentPathFirstSegment === linkPathFirstSegment) {
      link.classList.add("active");
    }
  });
</script>
