---
import Heading from "../components/Heading.astro";
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"div"> {
  heading: String;
}

const { heading, ...rest } = Astro.props;
---

<div class="wrapper" {...rest}>
  <Heading as="h1" class="title">{heading}</Heading>
  <p class="subtitle"><slot /></p>
</div>

<style>
  .wrapper {
    display: flex;
    flex-direction: column;
    gap: var(--space-xs);
    padding-block-end: var(--space-2xl);
  }

  .title {
    color: var(--color-accent);
  }

  .subtitle {
    color: var(--color-content-quiet);
  }
</style>
