---
import "../styles/global.css";
interface Props {
  intro?: boolean;
  subtle?: boolean;
}
const { intro, subtle } = Astro.props;
---

<p class:list={[{ intro: intro, subtle: subtle }]}><slot /></p>

<style>
  p {
    font-size: var(--step-0);
    max-width: 50ch;
  }
  .intro {
    font-size: var(--step-1);
    color: var(--color-content-subtle);
    max-width: 40ch;
  }
  .subtle {
    color: var(--color-content-subtle);
  }
</style>
