---
import type { HTMLAttributes } from "astro/types";
import "../styles/global.css";
interface Props extends HTMLAttributes<"p"> {
  color?: "regular" | "quiet" | "loud";
  weight?: "regular" | "semibold" | "bold";
  size?: "-2" | "-1" | "0" | "1" | "2" | "3" | "4" | "5";
}
const {
  color = "regular",
  weight = "regular",
  size = "-1",
  ...rest
} = Astro.props;

const textColor = `var(--color-content-${color})`;
const fontWeight = `var(--font-weight-${weight})`;
const fontSize = `var(--step-${size})`;
---

<p {...rest}><slot /></p>

<style define:vars={{ textColor, fontWeight, fontSize }}>
  p {
    font-size: var(--fontSize);
    color: var(--textColor);
    font-weight: var(--fontWeight);
    max-width: 50ch;
    text-wrap: pretty;
  }
</style>
