---

---

<h2>tl;dr</h2>
<div class="content"><slot /></div>

<style>
  h2 {
    font-variant: small-caps;
  }

  .content {
    font-style: italic;
    margin-block-start: var(--space-3xs);
  }
</style>
