<span class="visually-hidden"><slot /></span>

<style>
  /* 
  - primary source: https://practical-accessibility.today/chapters/hiding-techniques/
  - source referenced by primary source: https://www.scottohara.me/blog/2017/04/14/inclusively-hidden.html
  - explanation of each css property: https://www.tpgi.com/the-anatomy-of-visually-hidden/ 
  */

  .visually-hidden:not(:focus):not(:active) {
    /* shrink to a 1px square */
    width: 1px;
    height: 1px;

    /* hide any resulting overflow */
    overflow: hidden;

    /* clip the element to remove any visual trace */
    clip-path: inset(50%);

    /* remove from page flow so it doesn’t affect surrounding layout */
    position: absolute;

    /* ensure proper text announcement by screen readers */
    white-space: nowrap;
  }
</style>
