---
import "../styles/reset.css";
import "../styles/tokens.css";
import "../styles/global.css";
import Body from "../components/Body.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Main from "../components/Main.astro";

interface Props {
  pageTitle: string;
}

const { pageTitle } = Astro.props;
const pageTitleSuffix = " - Hans Sandberg";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <script is:inline>
      // Apply cached theme before page renders to avoid flash of inaccurate color theme (FART).
      // More info: https://chriskirknielsen.com/blog/my-under-engineered-way-to-avoid-a-flash-of-inaccurate-color-theme/
      const cachedTheme = localStorage.getItem("theme");
      if (cachedTheme) {
        document.documentElement.dataset.theme = cachedTheme;
      }
    </script>
    <script src="../scripts/themePicker.js"></script>
    <noscript>
      <style>
        #theme-picker {
          display: none;
        }
      </style>
    </noscript>
    <title>{pageTitle}{pageTitleSuffix}</title>
  </head>
  <Body>
    <Header />
    <Main>
      <slot />
    </Main>
    <Footer />
  </Body>
</html>
