---

---

<div class="prose">
  <slot />
</div>

<style>
  :global(.prose > * + *) {
    margin-block-start: var(--flow-space, var(--space-s));
  }
  :global(.prose > * + h2) {
    --flow-space: var(--space-2xl);
  }

  :global(.prose > * + h3) {
    --flow-space: var(--space-xl);
  }
  :global(.prose > * + h4) {
    --flow-space: var(--space-m);
  }
  :global(.prose :is(h1, h2, h3, h4, h5, h6) + *) {
    --flow-space: var(--space-2xs);
  }

  :global(.prose > * + hr) {
    --flow-space: var(--space-l);
  }

  :global(.prose :is(p, li)) {
    text-wrap: pretty;
  }

  :global(.prose > * + :is(figure, img)) {
    --flow-space: var(--space-m);
  }
</style>
