---
import BaseLayout from "../../layouts/BaseLayout.astro";
import type { GetStaticPaths } from "astro";
import BackToPortfolio from "../../components/BackToPortfolio.astro";
import PageHeader from "../../components/PageHeader.astro";
import { getCollection } from "astro:content";
import { render } from "astro:content";
import TableOfContents from "../../components/TableOfContents.astro";

export const getStaticPaths = (async () => {
  const caseStudies = await getCollection("caseStudies");
  return caseStudies.map((caseStudy) => ({
    params: { slug: caseStudy.data.slug },
    props: { caseStudy },
  }));
}) satisfies GetStaticPaths;

const { caseStudy } = Astro.props;

const { Content, headings } = await render(caseStudy);
---

<BaseLayout pageTitle={caseStudy.data.title}>
  <div class="grid">
    <BackToPortfolio />
    <PageHeader heading={caseStudy.data.title} />
    <TableOfContents headings={headings} />
  </div>
  <div class="grid prose">
    <Content />
  </div>
</BaseLayout>
